@font-face {
  font-family: Roboto;
  src: url(./../fonts/Roboto-Regular.ttf);
}

* {
  font-size: 24px;
  font-family: Roboto;
}

.table-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

.table-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.company-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #000;
  color: #fff;
}

thead th {
  padding: 10px;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #1e1e1e;
}

tbody tr:nth-child(even) {
  background-color: #303030;
}

tbody td {
  padding: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

.company-row:hover {
  background-color: #474747;
  transition: background-color 0.3s;
}

.delete-button {
  background-color: #ff4d4d;
  color: white;
  cursor: pointer;
  font-size: 25px;
  text-align: center;
  line-height: 1;
  font-family: Arial, sans-serif;
  width: 5.7%;
}
.delete-button:hover {
  background-color: #ff1a1a;
}

.company-row.selected {
  background-color: #f86300;
}

.company-row.selected:hover {
  background-color: #ff9a57;
}
.cell-table {
  height: 2vw;
  width: 45%;
}
.selectedAll {
  color: #000;
}

.company-input {
  height: 23px;
  width: 90%;
  outline: none;
}

.loader {
  display: flex;
  justify-content: center;
  color: #000;
  margin-top: 20px;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.custom-checkbox input {
  display: none;
}

.checkbox-checkmark {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.2s, border-color 0.2s;
  border: 2px solid transparent;
}

.toglle-all {
  border: 1px solid #000;
}

.custom-checkbox input:checked + .checkbox-checkmark {
  background-color: #0088fe;
  border-color: #0088fe;
}

.checkbox-checkmark:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s;
}

.custom-checkbox input:checked + .checkbox-checkmark:after {
  opacity: 1;
}

@media (max-width: 900px) {
  * {
    font-size: 20px;
  }
  .company-input {
    height: 19px;
  }
  .checkbox-checkmark {
    width: 16px;
    height: 16px;
  }
  .checkbox-checkmark:after {
    width: 8px;
    height: 4px;
  }
  tbody td {
    padding: 10px;
  }
}

@media (max-width: 800px) {
  .company-form {
    flex-direction: column;
    max-width: 400px;
    margin: 2% auto;
  }
}

@media (max-width: 682px) {
  .delete-button {
    font-size: 22px;
    margin: 0px;
    padding: 0;
    width: 8%;
  }
  .checkbox-checkmark {
    width: 13px;
    height: 13px;
  }
  .checkbox-checkmark:after {
    width: 7px;
    height: 3.5px;
  }
}

@media (max-width: 560px) {
  * {
    font-size: 16px;
  }
  .company-input {
    height: 15px;
  }
  .checkbox-checkmark {
    width: 12px;
    height: 12px;
  }
  .checkbox-checkmark:after {
    width: 6px;
    height: 3px;
  }
  .delete-button {
    font-size: 20px;
    width: 11%;
  }
}

@media (max-width: 460px) {
  * {
    font-size: 14px;
  }
  .company-input {
    padding: 0;
    margin: 0;
    height: 14px;
  }
  .delete-button {
    font-size: 18px;
  }
}
